/* ---------------------------------------> CSS REFERENTE À PÁGINA DO CALENDÁRIO <---------------------------------------- */

/* ------------------------------- TOPO DA PÁGINA ------------------------------ */

/* Título */
.mb-4 {
    color: rgba(108, 26, 172, 1); 
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 500; /* Peso da fonte Medium */
}

/* Botão Criar Tarefa */
.btn-purple {
    background-color: rgba(145, 51, 218, 1);
    border-color: rgba(145, 51, 218, 1); 
    color: white;
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 700; /* Peso da fonte Bold */
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.btn-purple.focus,
.btn-purple.clicked {
    background-color: rgba(108, 26, 172, 1);
    border-color: rgba(108, 26, 172, 1); 
    outline: none;
    box-shadow: none;
}

/* ------------------------------- CENTRO DA PÁGINA ------------------------------ */

/* Calendário Geral*/
#calendar {
    margin-bottom: 60px; /* Adiciona espaçamento externo em relção a parte inferior */
    padding-top: 20px; /* Adiciona espaçamento interno ao topo do calendário */
    border-radius: 10px;
    border: 0px solid transparent; /* Torna a borda transparente */
    box-shadow: 0 0 2.4px rgba(0, 0, 0, 0.1),
                0 0 13.6px -2px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

/* Texto do mês e ano do calendário */
.fc-toolbar h2 {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 400; /* Peso da fonte Regular */
    color: rgba(0, 0, 0, 1); 
    padding-top: 5px;
    padding-left: 20px; /* Adiciona margem ao texto */
    text-transform: capitalize; /* Capitaliza a primeira letra de cada palavra */
}

/* Semanas do calendário  */
.fc-day-header {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 400; /* Peso da fonte Regular */
    color: rgba(0, 0, 0, 1); 
    text-transform: capitalize;
}

/* Números dos dias do calendário */
#calendar .fc-day-number {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 400; /* Peso da fonte Regular */
    color: rgba(0, 0, 0, 1); /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte, ajuste conforme necessário */
}

/* Número do dia atual do calendário */
#calendar .fc-today .fc-day-number {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px; /* Tamanho do número do dia */
    z-index: 1; /* Coloca o número do dia na frente do círculo */
}

/* Quadrado do dia atual do calendário */
#calendar .fc-today {
    background-color: white !important; /* Fundo branco */
    border-color: rgb(214, 213, 213) !important; /* Borda roxa */
}

#calendar .fc-today .fc-day-number::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px; /* Largura do círculo */
    height: 20px; /* Altura do círculo */
    background-color: rgba(145, 51, 218); /* Cor do círculo */
    border: 2px solid rgba(145, 51, 218, 1); /* Cor da borda do círculo */
    border-radius: 50%; /* Forma circular */
    z-index: -1; /* Coloca atrás do número do dia */
}

/* Botão "Hoje" no cabeçalho do calendário */
#calendar .fc-todayButton-button {
    position: relative; /* Posição relativa para controlar os pseudo-elementos */
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 21px 20px; /* Ajusta as dimensões do botão */
    line-height: 0; /* Reduz o line-height para aproximar o texto da parte superior */
    background-color: rgba(145, 51, 218, 1) !important;
    border-color: rgba(145, 51, 218, 1) !important;
    color: white;
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto horizontalmente */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#calendar .fc-todayButton-button:hover {
    background-color: rgba(108, 26, 172, 1) !important;
}

#calendar .fc-todayButton-button:focus {
    outline: none;
    box-shadow: none; /* Remove o foco padrão */
}

/* Botões "Prev" (seta esquerda) e "Next" (seta direita) no cabeçalho do calendário */
#calendar .fc-prevButton-button, 
#calendar .fc-nextButton-button {
    position: relative; /* Posição relativa para controlar os pseudo-elementos */
    margin-bottom: 5px;
    margin-left: 0; /* Remove a margem esquerda */
    margin-right: 0; /* Remove a margem direita */
    padding: 21px 20px; /* Ajusta as dimensões do botão */
    line-height: 0; /* Reduz o line-height para aproximar o texto da parte superior */
    background-color: rgba(145, 51, 218, 1) !important;
    border-color: rgba(145, 51, 218, 1) !important;
    color: white;
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto horizontalmente */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#calendar .fc-prevButton-button:hover, .fc-nextButton-button:hover {
    background-color: rgba(108, 26, 172, 1) !important;
}

#calendar .fc-prevButton-button:focus, .fc-nextButton-button:focus {
    outline: none;
    box-shadow: none; /* Remove o foco padrão */
}

/* Botão "Criar Tarefa" no cabeçalho do calendário */
#calendar .fc-createTaskButton-button {
    position: relative; /* Posição relativa para controlar os pseudo-elementos */
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 21px 20px; /* Ajusta as dimensões do botão */
    line-height: 0; /* Reduz o line-height para aproximar o texto da parte superior */
    background-color: rgba(145, 51, 218, 1) !important;
    border-color: rgba(145, 51, 218, 1) !important;
    color: white;
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto horizontalmente */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#calendar .fc-createTaskButton-button:hover {
    background-color: rgba(108, 26, 172, 1) !important;
}

#calendar .fc-createTaskButton-button:focus {
    outline: none;
    box-shadow: none; /* Remove o foco padrão */
}

/* Eventos do calendário */
#calendar .fc-event {
    margin-bottom: 2px; /* Define a margem inferior dos eventos do calendário */
    background-color: rgb(166, 100, 216);
    border: transparent;
}

/* Eventos do calendário: Conteúdo interno */
#calendar .fc-content {
    padding: 2px; /* Ajusta o padding do conteúdo dentro de cada dia do calendário */
    text-align: center; /* Centraliza o conteúdo dentro de cada dia */
}