/* ---------------------------------------> CSS REFERENTE À PÁGINA DO CALENDÁRIO <---------------------------------------- */

/* ------------------------------- TOPO DA PÁGINA ------------------------------ */

/* Título */
.mb-4 {
    color: rgba(108, 26, 172, 1); 
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 500; /* Peso da fonte Medium */
}

/* Botão Criar Tarefa */
.btn-purple {
    background-color: rgba(145, 51, 218, 1);
    border-color: rgba(145, 51, 218, 1); 
    color: white;
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 700; /* Peso da fonte Bold */
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.btn-purple.focus,
.btn-purple.clicked {
    background-color: rgba(108, 26, 172, 1);
    border-color: rgba(108, 26, 172, 1); 
    outline: none;
    box-shadow: none;
}

/* Botão Logout */
.logout-btn {
    background-color: rgba(145, 51, 218, 1);
    border-color: rgba(145, 51, 218, 1); 
    color: white;
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 700; /* Peso da fonte Bold */
    float: right;
}

.logout-btn:hover,
.logout-btn:focus,
.logout-btn:active,
.logout-btn.active,
.logout-btn.focus,
.logout-btn.clicked {
    background-color: rgba(108, 26, 172, 1);
    border-color: rgba(108, 26, 172, 1); 
    outline: none;
    box-shadow: none;
}

/* ------------------------------- CENTRO DA PÁGINA ------------------------------ */

/* Calendário Geral*/
#calendar {
    margin-bottom: 60px; /* Adiciona espaçamento externo em relção a parte inferior */
    padding-top: 20px; /* Adiciona espaçamento interno ao topo do calendário */
    border-radius: 10px;
    border: 0px solid transparent; /* Torna a borda transparente */
    box-shadow: 0 0 2.4px rgba(0, 0, 0, 0.1),
                0 0 13.6px -2px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

/* Texto do mês e ano do calendário */
.fc-toolbar h2 {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 400; /* Peso da fonte Regular */
    color: rgba(0, 0, 0, 1); 
    padding-top: 5px;
    padding-left: 20px; /* Adiciona margem ao texto */
    text-transform: capitalize; /* Capitaliza a primeira letra de cada palavra */
}

/* Semanas do calendário  */
.fc-day-header {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 400; /* Peso da fonte Regular */
    color: rgba(0, 0, 0, 1); 
    text-transform: capitalize;
}

/* Números dos dias do calendário */
#calendar .fc-day-number {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 400; /* Peso da fonte Regular */
    color: rgba(0, 0, 0, 1); /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte, ajuste conforme necessário */
}

/* Número do dia atual do calendário */
#calendar .fc-today .fc-day-number {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px; /* Tamanho do número do dia */
    z-index: 1; /* Coloca o número do dia na frente do círculo */
}

/* Quadrado do dia atual do calendário */
#calendar .fc-today {
    background-color: white !important; /* Fundo branco */
    border-color: rgb(214, 213, 213) !important; /* Borda roxa */
}

#calendar .fc-today .fc-day-number::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px; /* Largura do círculo */
    height: 20px; /* Altura do círculo */
    background-color: rgba(145, 51, 218); /* Cor do círculo */
    border: 2px solid rgba(145, 51, 218, 1); /* Cor da borda do círculo */
    border-radius: 50%; /* Forma circular */
    z-index: -1; /* Coloca atrás do número do dia */
}

/* Botão "Hoje" no cabeçalho do calendário */
#calendar .fc-todayButton-button {
    position: relative; /* Posição relativa para controlar os pseudo-elementos */
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 21px 20px; /* Ajusta as dimensões do botão */
    line-height: 0; /* Reduz o line-height para aproximar o texto da parte superior */
    background-color: rgba(145, 51, 218, 1) !important;
    border-color: rgba(145, 51, 218, 1) !important;
    color: white;
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto horizontalmente */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#calendar .fc-todayButton-button:hover {
    background-color: rgba(108, 26, 172, 1) !important;
}

#calendar .fc-todayButton-button:focus {
    outline: none;
    box-shadow: none; /* Remove o foco padrão */
}

/* Botões "Prev" (seta esquerda) e "Next" (seta direita) no cabeçalho do calendário */
#calendar .fc-prevButton-button, 
#calendar .fc-nextButton-button {
    position: relative; /* Posição relativa para controlar os pseudo-elementos */
    margin-bottom: 5px;
    margin-left: 0; /* Remove a margem esquerda */
    margin-right: 0; /* Remove a margem direita */
    padding: 21px 20px; /* Ajusta as dimensões do botão */
    line-height: 0; /* Reduz o line-height para aproximar o texto da parte superior */
    background-color: rgba(145, 51, 218, 1) !important;
    border-color: rgba(145, 51, 218, 1) !important;
    color: white;
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto horizontalmente */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#calendar .fc-prevButton-button:hover, .fc-nextButton-button:hover {
    background-color: rgba(108, 26, 172, 1) !important;
}

#calendar .fc-prevButton-button:focus, .fc-nextButton-button:focus {
    outline: none;
    box-shadow: none; /* Remove o foco padrão */
}

/* Botão "Criar Tarefa" no cabeçalho do calendário */
#calendar .fc-createTaskButton-button {
    position: relative; /* Posição relativa para controlar os pseudo-elementos */
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 21px 20px; /* Ajusta as dimensões do botão */
    line-height: 0; /* Reduz o line-height para aproximar o texto da parte superior */
    background-color: rgba(145, 51, 218, 1) !important;
    border-color: rgba(145, 51, 218, 1) !important;
    color: white;
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto horizontalmente */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#calendar .fc-createTaskButton-button:hover {
    background-color: rgba(108, 26, 172, 1) !important;
}

#calendar .fc-createTaskButton-button:focus {
    outline: none;
    box-shadow: none; /* Remove o foco padrão */
}

/* Eventos do calendário */
#calendar .fc-event {
    margin-bottom: 2px; /* Define a margem inferior dos eventos do calendário */
    background-color: rgb(166, 100, 216);
    border: transparent;
}

/* Eventos do calendário: Conteúdo interno */
#calendar .fc-content {
    padding: 2px; /* Ajusta o padding do conteúdo dentro de cada dia do calendário */
    text-align: center; /* Centraliza o conteúdo dentro de cada dia */
}

/* ------------------------------- MODAL DO BOTÃO CRIAR TAREFA ------------------------------ */

#modalCriarTarefa .modal-dialog {
    max-width: 450px; /* Largura máxima do modal */
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
}

#modalCriarTarefa .modal-content {
    border-radius: 20px; /* Borda arredondada */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra */
}

#modalCriarTarefa .modal-header {
    border-bottom: none; /* Remove a borda superior do rodapé */
    padding: 15px 20px; /* Espaçamento interno */
    justify-content: space-between; /* Alinha os botões ao redor */
}

#modalCriarTarefa .modal-body {
    padding-left: 65px; /* Espaçamento interno */
    padding-right: 65px; /* Espaçamento interno */
    padding-bottom: 1px;
}

#modalCriarTarefa .modal-title {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 500; /* Peso da fonte Bold */
    font-size:35px;
    margin-bottom: 20px;
}

#modalCriarTarefa .modal-footer {
    border-top: none; /* Remove a borda superior do rodapé */
    padding: 15px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza os botões */
    padding-bottom: 40px;
   
}

#modalCriarTarefa .modal-footer .btn-divider {
    margin: 0 5px; /* Margem entre os botões */
    display:flex;
    height: 30px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1); /* Cor da barra vertical */
    vertical-align: middle;
}

#modalCriarTarefa .btn-primary {
    background-color: rgba(145, 51, 218, 1); /* Cor de fundo */
    border-color: rgba(145, 51, 218, 1); /* Cor da borda */
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 600; /* Peso da fonte SemiBold */
    border-radius: 30px; /* Borda arredondada */
    padding-top: 10px;
    padding-bottom: 10px;
}

#modalCriarTarefa .btn-primary:hover,
#modalCriarTarefa .btn-primary:focus,
#modalCriarTarefa .btn-primary:active,
#modalCriarTarefa .btn-primary.active,
#modalCriarTarefa .btn-primary.focus,
#modalCriarTarefa .btn-primary.clicked {
    background-color: rgba(108, 26, 172, 1); /* Cor de fundo ao passar o mouse */
    border-color: rgba(108, 26, 172, 1); /* Cor da borda ao passar o mouse */
    outline: none;
    box-shadow: none;
}

#modalCriarTarefa .btn-secondary {
    background-color: rgba(243, 243, 243, 1); /* Cor de fundo */
    border-color: rgba(243, 243, 243, 1); /* Cor da borda */
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 600; /* Peso da fonte SemiBold */
    color: rgba(145, 51, 218, 1);
    border-radius: 30px; /* Borda arredondada */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 20px;
    margin-right: 80px;
}

#modalCriarTarefa .btn-secondary:hover,
#modalCriarTarefa .btn-secondary:focus,
#modalCriarTarefa .btn-secondary:active,
#modalCriarTarefa .btn-secondary.active,
#modalCriarTarefa .btn-secondary.focus,
#modalCriarTarefa .btn-secondary.clicked {
    background-color: rgba(155, 155, 155, 0.2); /* Cor de fundo ao passar o mouse */
    border-color: rgba(155, 155, 155, 0.2); /* Cor da borda ao passar o mouse */
    color: rgba(145, 51, 218, 1);
    outline: none;
    box-shadow: none;
}

/* ------------------------------- MODAL DOS EVENTOS DO CALENDÁRIO ------------------------------ */

#modalVisualizarTarefa .modal-dialog {
    max-width: 450px; /* Largura máxima do modal */
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
}

#modalVisualizarTarefa .modal-content {
    border-radius: 20px; /* Borda arredondada */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra */
}

#modalVisualizarTarefa .modal-header {
    border-bottom: none; /* Remove a borda inferior do cabeçalho */
    padding: 15px 20px; /* Espaçamento interno */
    display: flex;
    justify-content: flex-end; /* Alinha os elementos à direita */
    align-items: center; /* Alinha os itens verticalmente */
}

#modalVisualizarTarefa .modal-body {
    padding: 20px 60px 20px 60px; /* Ajuste o padding: topo, direita, baixo, esquerda */
}

#modalVisualizarTarefa .modal-title {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 500; /* Peso da fonte Bold */
    font-size: 30px; /* Tamanho da fonte */
    margin-bottom: 20px; /* Remove a margem inferior */
}

#modalVisualizarTarefa .modal-data {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 500; /* Peso da fonte Regular */
    font-size: 16px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaçamento inferior */
    padding-bottom: 50px;
}

#modalVisualizarTarefa .modal-descricao {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 500; /* Peso da fonte Bold */
    font-size: 16px; /* Tamanho da fonte */
}

#modalVisualizarTarefa .description-wrapper {
    border: 1px solid #ccc; /* Estilo da borda */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
    border-radius: 10px;
}

#modalVisualizarTarefa .modal-footer {
    padding: 5px 5px; /* Espaçamento interno */
    margin-right: 0px;
    text-align: center; /* Centraliza os botões */
}

/* Botões do modal */

#modalVisualizarTarefa .modal-header .close {
    margin-top: 0px; /* Espaço acima do botão */
    margin-left: 10px; /* Ajusta a margem esquerda */
    margin-right: 0px; /* Ajusta a margem esquerda */
    border: none; /* Remove a borda padrão */
    background-color: rgba(145, 51, 218, 1); /* Cor de fundo */
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 600; /* Peso da fonte SemiBold */
    font-size: 20px; /* Tamanho do ícone */
    color: rgb(255, 255, 255); /* Cor do ícone */
    cursor: pointer; /* Mostra que é interativo */
    border-radius: 50%; /* Borda arredondada */
    width: 40px; /* Tamanho do círculo */
    height: 40px; /* Tamanho do círculo */
    display: flex; /* Exibe como flexível */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    
}

#modalVisualizarTarefa .btn-secondary {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 600; /* Peso da fonte SemiBold */
    background-color: rgba(243, 243, 243, 1); /* Cor de fundo */
    border-color: rgba(243, 243, 243, 1); /* Cor da borda */
    color: rgba(145, 51, 218, 1); /* Cor do texto */
    border-radius: 50%; /* Borda arredondada */
    width: 40px; /* Tamanho do círculo */
    height: 40px; /* Tamanho do círculo */
}

#modalVisualizarTarefa .btn-secondary:hover,
#modalVisualizarTarefa .btn-secondary:focus,
#modalVisualizarTarefa .btn-secondary:active,
#modalVisualizarTarefa .btn-secondary.active,
#modalVisualizarTarefa .btn-secondary.focus,
#modalVisualizarTarefa .btn-secondary.clicked {
    background-color: rgba(155, 155, 155, 0.2); /* Cor de fundo ao passar o mouse */
    border-color: rgba(155, 155, 155, 0.2); /* Cor da borda ao passar o mouse */
    outline: none;
    box-shadow: none;
}

#modalVisualizarTarefa .btn-danger {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte Montserrat */
    font-weight: 600; /* Peso da fonte SemiBold */
    background-color: rgba(243, 243, 243, 1); /* Cor de fundo */
    border-color: rgba(243, 243, 243, 1); /* Cor da borda */
    color: rgba(145, 51, 218, 1);
    border-radius: 50%; /* Borda arredondada */
    width: 40px; /* Tamanho do círculo */
    height: 40px; /* Tamanho do círculo */
}

#modalVisualizarTarefa .btn-danger:hover,
#modalVisualizarTarefa .btn-danger:focus,
#modalVisualizarTarefa .btn-danger:active,
#modalVisualizarTarefa .btn-danger.active,
#modalVisualizarTarefa .btn-danger.focus,
#modalVisualizarTarefa .btn-danger.clicked {
    background-color: rgba(155, 155, 155, 0.2); /* Cor de fundo ao passar o mouse */
    border-color: rgba(155, 155, 155, 0.2); /* Cor da borda ao passar o mouse */
    outline: none;
    box-shadow: none;
}

#modalVisualizarTarefa .btn-success {
    background-color: rgba(145, 51, 218, 1); /* Cor de fundo */
    border-color: rgba(145, 51, 218, 1); /* Cor da borda */
    font-weight: 600; /* Peso da fonte SemiBold */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 20px; /* Borda arredondada */
    padding-top: 10px;
    padding-bottom: 10px;
}

#modalVisualizarTarefa .btn-success:hover,
#modalVisualizarTarefa .btn-success:focus,
#modalVisualizarTarefa .btn-success:active,
#modalVisualizarTarefa .btn-success.active,
#modalVisualizarTarefa .btn-success.focus,
#modalVisualizarTarefa .btn-success.clicked {
    background-color: rgba(108, 26, 172, 1); /* Cor de fundo ao passar o mouse */
    border-color: rgba(108, 26, 172, 1); /* Cor da borda ao passar o mouse */
    outline: none;
    box-shadow: none;
}

