<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tasks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Lista de Tasks</h1>
    <a href="{{ url_for('tasks.add_task') }}" class="btn btn-primary mb-3">Adicionar Novas Tasks</a>
    <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ task.name }}</strong>: {{ task.description }} ({{ task.date.strftime('%Y-%m-%d') }})
                </div>
                <div>
                    <a href="{{ url_for('tasks.edit_task', id=task.id) }}" class="btn btn-purple btn-sm">Editar</a>
                    <a href="{{ url_for('tasks.delete_task', id=task.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this task?');">Deletar</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
