<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Gerenciador de Tarefas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<h1>Gerenciador de Tarefas</h1>

<div class="container">

    <div class="content">

        <div id="login">

            <form method="post" action="{{ url_for('auth.login') }}">
                <h2>Iniciar sessão</h2>

                <h3>
                    <label for="username">Usuário</label>
                </h3>

                <input id="username" name="username" required="required" type="text" placeholder="seu nome deusuário"/>

                <h4>
                    <label for="password">Senha</label>
                </h4>

                <input id="password" name="password" required="required" type="password" placeholder="sua senha" />

                <p>
                    <input type="submit" value="Seguinte" />
                </p>

                <p class="link">
                    <a href="{{ url_for('auth.register') }}">Criar conta</a>
                </p>
            </form>

        </div>

    </div>

</div>

</body>
</html>